   /* ///////////////////////// SOURCE SANS PRO ///////////////////////// */
@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-ExtraLight.otf') format('opentype');
   font-weight: lighter;
   font-style: normal;
}
@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-ExtraLightIt.otf') format('opentype');
   font-weight: lighter;
   font-style: italic;
}
@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-Bold.otf') format('opentype');
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-BoldIt.otf') format('opentype');
   font-weight: bold;
   font-style: italic;

   /* ///////////////////////// ROBOTO ///////////////////////// */
 }
 @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf') format('opentype');
    font-weight: lighter;
    font-style: normal;
 }
 @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic.ttf') format('opentype');
    font-weight: lighter;
    font-style: italic;
 }
